

* {
    max-width: 100%;
}

body {
    display: flex;
    background-color: #1F1F1F;
    padding-left: 15vw;
    padding-top: 10vh;
}

.container {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;

}

/*nav-bar*/
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100vh;
    background-color: #181818;
    border-right: 1px solid #424242;
}


.logoNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    pointer-events: none;
}

.boxForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    font-family: 'Poppins', sans-serif;
}

#pesquisa {
    width: 200px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-weight: 300;
    background-color: #424242;
    border: none;
    outline: none;
    margin-top: 2rem;
    padding-left: 0.5rem;
    border-radius: 0.2rem;
}



.boxForm > a {
    text-decoration: none;
    color: #f5f5f5;
    margin-top: 1.5rem;
    transition: color 0.5s ease-in-out;
}

.boxForm > a:hover {
    color: #f5deb3;
}

.barrinha {
    width: 90%;
    height: 1px;
    margin-top: 1rem;
    background-color: #424242;
}

/*fim nav-bar*/

.containerMain {
    display: flex;
    flex-direction: column;

}

.playerMain {
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    height: 10vh;
    position: fixed;
    top: 0;
}

.ContainerBarraPlayer {
    width: 90%;
    height: 100%;
    background-color: #424242;

}

.containerBanner {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 40vh;
}

.containerVideoBaixo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85vw;
    height: 50vh;
    margin-bottom: 6rem;
}

.containerVideoBaixo > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #f5f5f5;
}

.containerAlbunsBaixo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.elementoUm {
    width: 17rem;
    height: 20rem;
    background-image: url(../assets/arquivos-HTML-images/home/artistas/haw\ sa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.2rem;
    margin-left: 0.1rem;

}

.elementoDois {
    width: 17rem;
    height: 20rem;
    background-image: url(../assets/arquivos-HTML-images/home/artistas/terno\ rei.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.2rem;
    margin-left: 1rem; 
}

.elementoTres {
    width: 17rem;
    height: 20rem;
    background-image: url(../assets/arquivos-HTML-images/home/artistas/florence.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.2rem;
    margin-left: 1rem; 
}

.elementoQuatro {
    width: 17rem;
    height: 20rem;
    background-image: url(../assets/arquivos-HTML-images/home/artistas/cristalCastles.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.2rem;
    margin-left: 1rem; 
}


/*area um tem 150 de vh*/
.areaUm {
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 150vh;
    /*background-color: rgb(30, 255, 0);*/ 
}

/*O codigo acima e so uma garantia se eu tiver que mexer, pode ignorar ele*/

.containerAreaUm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.containerAreaUm > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #f5f5f5;
    padding-left: 1.5rem;
}

.containerAreaUmTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%;
    /*background-color: rgba(0, 255, 255, 0.123);*/
}

.containerAreaUmTopBoxUm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #181818;
    margin-left: 0.2rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
}

.containerAreaUmTopBoxUm:hover {
    background-color: #424242;
}

.containerAreaUmTopBoxUm > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #f5f5f5;
    margin: 0;
    margin-top: 0.5rem;
}

.containerAreaUmTopBoxUm > i {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.fotoContainerAreaUmTopBoxUm {
    width: 90%;
    height: 70%;
    margin-top: 1rem;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/guiltyPlease.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
}

/*fim containerBoxUm*/

/*Abaixo inicio do containerBoxDois*/


.containerAreaUmTopBoxDois {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #181818;
    margin-left: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
}

.containerAreaUmTopBoxDois:hover {
    background-color: #424242;
}

.fotoContainerAreaUmTopBoxDois {
    width: 90%;
    height: 70%;
    margin-top: 1rem;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/lilas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
}

.containerAreaUmTopBoxDois > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #f5f5f5;
    margin: 0;
    margin-top: 0.5rem;
    
}

.containerAreaUmTopBoxDois > i {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.containerAreaUmTopBoxTres {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #181818;
    margin-left: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
}

.containerAreaUmTopBoxTres:hover {
    background-color: #424242;
}

.fotoContainerAreaUmTopBoxTres {
    width: 90%;
    height: 70%;
    margin-top: 1rem;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/pericles.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
}

.containerAreaUmTopBoxTres > h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #f5f5f5;
    margin: 0;
    margin-top: 0.5rem;
}

.containerAreaUmTopBoxTres > i {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/*fim container box tres*/

/*inicio container box quatro*/

.containerAreaUmTopBoxQuatro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #181818;
    margin-left: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
}

.containerAreaUmTopBoxQuatro:hover {
    background-color: #424242;
}

.fotoContainerAreaUmTopBoxQuatro {
    width: 90%;
    height: 70%;
    margin-top: 1rem;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/joyDivision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem; 
}

.containerAreaUmTopBoxQuatro > h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #f5f5f5;
    margin: 0;
    margin-top: 0.5rem;
}

.containerAreaUmTopBoxQuatro > i {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/*fim container box quatro*/

.containerAreaUmTopBoxCinco {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #181818;
    margin-left: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;  
}

.containerAreaUmTopBoxCinco:hover {
    background-color: #424242;
}

.fotoContainerAreaUmTopBoxCinco {
    width: 90%;
    height: 70%;
    margin-top: 1rem;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/likeClock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;  
}

.containerAreaUmTopBoxCinco > h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #f5f5f5;
    margin: 0;
    margin-top: 0.5rem;
}

.containerAreaUmTopBoxCinco > i {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/*fim container box cinco*/

.containerAreaUmTopBoxSeis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #181818;
    margin-left: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;  
}

.containerAreaUmTopBoxSeis:hover {
    background-color: #424242;
}

.fotoContainerAreaUmTopBoxSeis {
    width: 90%;
    height: 70%;
    margin-top: 1rem;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/linkinPark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;  
}

.containerAreaUmTopBoxSeis > h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #f5f5f5;
    margin: 0;
    margin-top: 0.5rem;
}

.containerAreaUmTopBoxSeis > i {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}



.nacionais {
    width: 100%;
    text-align: center;
}


.containerAreaUmMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;

}

div.containerAreaUmMiddle h2 {
    font-size: 30px;
    color: #f5f5f5;
}

.boxes {
    display: flex;
    align-items: center;
    margin-top: 1rem;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    height: 20rem;
    background-color: #181818; 
    border-radius: 0.2rem;
    margin-left: 1rem;
    color: #f5f5f5;;
    transition: background-color 0.5s ease-in-out;
}

.box:hover {
    background-color: #424242;
    cursor: pointer;
}


.artistOne {
    width: 90%;
    height: 70%;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/lilas.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
}




.artistItalic {
    margin-bottom: 2rem;
}

.artistTwo {
    width: 90%;
    height: 70%;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/lilas.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 0.5rem; 
    border-radius: 0.2rem;
}

.artistTree {
    width: 90%;
    height: 70%;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/lilas.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 0.5rem; 
    border-radius: 0.2rem;
}

.centralizado {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.centralizado > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #f5f5f5;
}

@media only screen and (max-width: 600px) {

    * {
        max-width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        padding-right: 0;
        padding-left: 0;
        background-color: #1F1F1F;

    }
    
    .container {
        display: none;

    }

    .playerMain {
        display: flex;
        width: 100vw;
        height: 10vh;
        position: fixed;
    }

    .containerBolaPerfil {
        display: none;
        width: 0%;
    }
    
    .ContainerBarraPlayer {
        width: 100%;
        height: 100%;
        background-color: #424242;
        margin: 0;
    }

    .containerBanner {
        display: none;
    }

    .containerVideoBaixo {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 20vh;
        margin: 0;

    }
    
    .containerVideoBaixo > h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 30px;
        color: #f5f5f5;

    }

    .containerAlbunsBaixo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
        margin-top: 1rem;
    
    }
    
    .elementoUm {
        width: 10rem;
        height: 5rem;
        background-image: url(../assets/arquivos-HTML-images/home/artistas/haw\ sa.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.2rem;
        margin-left: 0.5rem;
    
    }
    
    .elementoDois {
        width: 10rem;
        height: 5rem;
        background-image: url(../assets/arquivos-HTML-images/home/artistas/terno\ rei.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.2rem;
        margin-left: 1rem; 
    }
    
    .elementoTres {
        width: 10rem;
        height: 5rem;
        background-image: url(../assets/arquivos-HTML-images/home/artistas/florence.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.2rem;
        margin-right: 0.5rem; 
    }
    
    .elementoQuatro {
        display: none;
    }

    .areaUm {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 150vh;
        /*background-color: rgb(30, 255, 0);*/ 
    }
    
    /*O codigo acima e so uma garantia se eu tiver que mexer, pode ignorar ele*/

    .containerAreaUmTopBoxUm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        height: 50%;
        background-color: #181818;
        margin-left: 0.2rem;
        border-radius: 0.2rem;
        text-decoration: none;
        transition: background-color 0.5s ease-in-out;
    }
    
    .containerAreaUmTopBoxUm:hover {
        background-color: #424242;
    }
    
    .containerAreaUmTopBoxUm > h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: #f5f5f5;
        margin: 0;
        margin-top: 0.5rem;
    }
    
    .containerAreaUmTopBoxUm > i {
        font-family: 'Poppins', sans-serif;
        color: #f5f5f5;
        font-size: 10px;
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }


    
.containerAreaUmTopBoxDois {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    height: 50%;
    background-color: #181818;
    margin-left: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
}

.fotoContainerAreaUmTopBoxDois {
    width: 90%;
    height: 70%;
    margin-top: 1rem;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/lilas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
}

.containerAreaUmTopBoxDois > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #f5f5f5;
    margin: 0;
    margin-top: 0.5rem;
    
}

.containerAreaUmTopBoxDois > i {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.containerAreaUmTopBoxTres {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    height: 50%;
    background-color: #181818;
    margin-left: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
}

.containerAreaUmTopBoxTres:hover {
    background-color: #424242;
}

.fotoContainerAreaUmTopBoxTres {
    width: 90%;
    height: 70%;
    margin-top: 1rem;
    background-image: url(../assets/arquivos-HTML-images/home/lancamentos/pericles.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
}

.containerAreaUmTopBoxTres > h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: #f5f5f5;
    margin: 0;
    margin-top: 0.5rem;
}

.containerAreaUmTopBoxTres > i {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 10px;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


    
    
    .containerAreaUm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        /*background-color: red;*/
    }
    
    .containerAreaUm > h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 30px;
        color: #f5f5f5;
    }

    .containerAreaUmTopBoxQuatro {
        display: none;

    }
    /*fim container box quatro*/
    
    .containerAreaUmTopBoxCinco {
        display: none;
    }
    
    /*fim container box cinco*/
    
    .containerAreaUmTopBoxSeis {
        display: none;
    }

    .containerAreaUmMiddle {
        display: none;
        flex-direction: column;
        justify-content: center;
    }

    .boxUltimo {
        display: none;
    }
    
    
    
}

@media only screen and (max-width: 1370px) {
    nav {
        width: 210px;
    }
}